<app-header />

<main
  class="min-h-[calc(100vh-152px)] md:mx-auto md:max-w-4xl lg:max-w-7xl px-6"
>
  <form class="my-6 flex flex-col sm:flex-row justify-between gap-4">
    <app-input-search
      placeholder="Rechercher..."
      (input)="handleSearch($event)"
      (clear)="handleClear()"
      class="flex-grow"
    ></app-input-search>

    <select appSelect id="category" name="category">
      <option value="all">Toutes catégories</option>
      <option value="1">Cocktail</option>
      <option value="2">Smoothie</option>
      <option value="3">Thé</option>
      <option value="4">Café</option>
    </select>
  </form>

  @if (products | async; as productsList) {
    <app-product-list [products]="productsList"></app-product-list>
  } @else {
    <app-product-list-skeleton></app-product-list-skeleton>
  }
</main>

<app-footer />
